/* mobile style start for 1024px */

@media only screen and (min-width:1024px){
  .navbar_item1{
    width: 40%;
  }
  
  .navbar_item2 button{
    padding: 14px 45px;
  }

  .coreldraw{
    height: 650px;
  }

  .coreldraw__gradient{
    height: 650px;
  }

  .site-heading{
    top: 300px;
  }
}


@media only screen and (max-width:1024px){
  .coreldraw{
    height: 400px;
  }

  .service{
    padding: 150px 0px;
  }

  .coreldraw__error_info{
    width: 90%;
  }

  .service__adobe .row div img{
    width: 120px !important;
  }

  .coreldraw__pdf_list::after{
    right: 160px;
    top: -140px;
  }

  .vector_1::after{
    left: 67%;
    top: -50px;
    width: 100px;
  }

  .vector_2::before{
    width: 100px;
    left: -100%;
  }

  .coreldraw__gradient{
    height: 400px;
  }

  .service{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .site-heading{
    top: 170px;
  }
}

/* mobile style end for 1024px */

@media only screen and (max-width:768px){
  .navbar_item1{
    width: 50%;
  }

  .site-heading{
    top: 150px;
    font-size: 32px;
    width: 80%;
  }

  .coreldraw{
    height: 300px;
  }

  .coreldraw__gradient{
    height: 300px;
  }

  .service{
    padding-top: 50px;
  }

  .service__adobe_text{
    font-size: 14px !important;
  }

  .sevice__ol__text{
    font-size: 16px;
  }

  .sevice__ol__text span{
    font-size: 16px;
  }

  .service__adobe .row div img{
    width: 80% !important;
    height: 25px !important;
  }

  .coreldraw__error_info{
    width: 100%;
  }

  .coreldraw__error img{
    width: 170px;
  }

  .coreldraw__warning img{
    width: 170px;
  }

  .service__ol_item2 p{
    font-size: 16px;
  }

  .coreldraw__li_item p{
    font-size: 16px;
  }

  .coreldraw__pdf_text p{
    font-size: 16px;
  }

  .vector_1::after{
    transform: rotate(-3deg);
    width: 70px;
    left: -56%;
    top: -30%;
  }

  .vector_2{
    top: -260px;
    left: -70%;
  }

  .vector_2::before{
    transform: rotate(-8deg);
    width: 70px;
    top: -20px;
    left: 30px;
  }
}


@media only screen and (max-width:425px){
  .navbar_item1{
    display: none;
  }

  .burger{
    display: block;
    width: 30px;
    display: flex;
    flex-direction: column;
  }

    
  .burger:hover{
    cursor: pointer;
  }

  .burger span{
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    margin-bottom: 4px;
  }

  .navbar_item2 button{
    padding: 10px 20px;
  }

 .coreldraw{
  height: 260px;
 }

 .coreldraw .coreldraw__gradient{
  height: 260px;
 }

 .site-heading{
  width: 95%;
  top: 100px;
 }

 .service{
  padding-top: 30px;
 }

 .disegn{
  padding: 15px 20px;
 }

 .design__text{
  font-size: 16px;
 }

 .coreldraw__pdf_list div img{
  height: 350px;
 } 

 .coreldraw__pdf_list::after{
  top: -180px
 }

 .vector_1{
  top: -450px;
  left: 270px;
 }

 .vector_2{
  top: -334% !important;
  z-index: 1;
  left: 55px;
 }

 .srevice_list li{
  margin-bottom: 20px !important;
 }

 .service__adobe .row{
  width: 100%;
 }

 .service{
  padding-bottom: 30px;
 }

 .service__adobe .row div img{
  width: 50% !important;
 }

}


@media only screen and (max-width:375px){
  .site-heading{
    font-size: 22px;
    top: 150px;
  }

  .coreldraw{
    height: 300px;
  }

  .coreldraw__gradient{
    height: 300px !important;
  }

  .coreldraw__pdf_list::after{
    left: 145px;
  }
}